// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

article,
aside,
footer,
form,
header,
main,
nav,
pre,
section {
  position: relative;
}

body {
  @include type-setting(0);

  height: 100%;
  background: $mid-grey;
  color: $text-color;
}

// Basic styles for links
a {
  color: $brand-color;
  text-decoration: none;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 30px;
}

.line:nth-child(1) {
  background: #DB2828;
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: #F2711C;
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #FBBD08;
}

.line:nth-child(4) {
  animation-delay: 540ms;
  background: #B5CC18;
}

.line:nth-child(5) {
  animation-delay: 720ms;
  background: #21BA45;
}

.line:nth-child(6) {
  animation-delay: 900ms;
  background: #00B5AD;
}

.line:nth-child(7) {
  animation-delay: 1080ms;
  background: #2185D0;
}

.line:nth-child(8) {
  animation-delay: 1260ms;
  background: #6435C9;
}

.line:nth-child(9) {
  animation-delay: 1440ms;
  background: #A333C8;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}
