$white: #FFFFFF;
$black: #000000;
$grey: #dddddd;
$blue: #0070ba;

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?81091010');
  src: url('../font/fontello.eot?81091010#iefix') format('embedded-opentype'),
  url('../font/fontello.woff2?81091010') format('woff2'),
  url('../font/fontello.woff?81091010') format('woff'),
  url('../font/fontello.ttf?81091010') format('truetype'),
  url('../font/fontello.svg?81091010#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?81091010#fontello') format('svg');
  }
}
*/

[class^="icon-owl-"]:before, [class*=" icon-owl-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-owl-cancel:before { content: '\e802'; } /* '' */
.icon-owl-up-open:before { content: '\e805'; } /* '' */
.icon-owl-down-open:before { content: '\e80b'; } /* '' */
.icon-owl-left-open:before { content: '\e817'; } /* '' */
.icon-owl-right-open:before { content: '\e818'; } /* '' */


.owl-widget,
.owl-widget * {
  box-sizing: border-box;
}

.owl-widget {
  font-size: 1em;
}

.owl-state-focus {
  box-shadow: 0px 0px 5px #1f89ce;
}

.owl-corner-all {
  border-radius: 3px;
}

.owl-corner-top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.owl-corner-bottomLeft {
  border-bottom-left-radius: 3px;
}

.owl-corner-bottomRight {
  border-bottom-right-radius: 3px;
}

.owl-state-default {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  color: #555555;
}

.owl-inputtext {
  margin: 0;
  outline: medium none;
  padding: .25em;
  background: #ffffff;
  color: #222222;
  transition: .2s;

  &:focus,
  &.owl-state-focus {
    box-shadow: 0 0 5px #1f89ce;
  }
}

.owl-dateTime {
  display: inline-block;
  position: relative;
  width: 100%;

  &.owl-dateTime-inline {
    width: auto;

    .owl-dateTime-dialog {
      position: relative;
      z-index: auto;
    }
  }
}

.owl-dateTime-dialog {
  width: 300px;
  user-select: none;
  z-index: 99999;
}

.owl-dateTime-dialogHeader {
  height: 2.5em;
  padding: .25em;
  background-color: rgba(0, 0, 0, .1);
  overflow-y: auto;
}

.owl-calendar-control {
  .owl-calendar-controlNav {
    .nav-prev,
    .nav-next {
      position: absolute;
      top: 50%;
      right: auto;
      bottom: auto;
      left: 50%;
      transform: translate(-50%, -50%);

      &:before {
        content: " ";
        border-top: .5em solid transparent;
        border-bottom: .5em solid transparent;
        border-right: .75em solid $black;
        width: 0;
        height: 0;
        display: block;
        margin: 0 auto;
      }
    }

    .nav-next:before {
      border-right: 0;
      border-left: .75em solid $black;
    }
  }

  .owl-calendar-controlContent {
    .month-control,
    .year-control {
      display: inline-block;
      cursor: pointer;
      transition: transform 200ms ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    .month-control {
      font-size: 1em;
      margin-right: .8rem;
      font-weight: 700;
    }

    .year-control {
      font-size: .8em;
      font-style: italic;
      color: #999;
    }
  }
}

.owl-calendar {
  tbody td {
    &.owl-calendar-selected {
      background-color: $blue;
      color: $white;
    }

    &.owl-calendar-invalid {
      color: #acacac;
    }

    &.owl-calendar-outFocus {
      color: $grey;
    }

    &.owl-calendar-hidden {
      visibility: hidden;
    }

    &:not(.owl-calendar-selected):not(.owl-calendar-invalid):hover {
      background-color: lighten($blue, 50%);
      color: $black;
    }
  }
}

.owl-years,
.owl-months {
  td.owl-year,
  td.owl-month {
    font-size: 1.2em;
    height: 2.5em;
    width: 33.33%;
    line-height: 2.5em;
  }
}

.owl-weekdays {
  th.owl-weekday {
    height: 1em;
    line-height: 1em;
    text-align: left;
    font-size: .7em;
    color: #999;
  }
}

.owl-days {
  td.owl-day {
    height: 2em;
    width: calc(100% / 7);
    line-height: 2em;

    &.owl-day-today:before {
      content: '';
      display: block;
      position: absolute;
      right: 2px;
      top: 2px;
      border-top: .5em solid lighten($blue, 20%);
      border-left: .5em solid transparent;
    }
  }
}

.owl-timer-wrapper {
  height: 5.4em;
  background-color: rgba(0, 0, 0, .1);

  .owl-timer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-size: 1.5em;
  }

  .owl-meridian-btn {
    font-size: .8em;
    color: $blue;
    background-image: none;
    background-color: transparent;
    border-color: $blue;

    &:hover {
      color: $white;
      background-color: $blue;
      border-color: $blue;
    }
  }
}

.owl-timer-divider {
  display: inline-block;
  align-self: flex-end;
  position: absolute;
  width: .6em;
  height: 100%;
  left: -.3em;

  .owl-timer-dot {
    display: block;
    width: .3em;
    height: .3em;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);

    &.dot-top {
      top: 38%;
    }

    &.dot-bottom {
      bottom: 38%;
    }
  }
}

.owl-dateTime-btnWrapper {
  height: 3em;
  line-height: 3em;
  text-align: center;
  cursor: pointer;
  user-select: none;

  .owl-dateTime-btn {
    height: 100%;
    width: 50%;
    color: $white;
    background-color: $blue;

    &:hover {
      background-color: darken($blue, 5%);
    }

    &:first-child {
      border-right: 1px solid darken($blue, 5%);
    }

    &:last-child {
      border-left: 1px solid darken($blue, 5%);
    }
  }
}
