@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.picker-wrap {
  width: 95vw;
  max-width: 666px;
}

.picker-box {
  font-family: 'Open Sans';
  width: 100%;
  padding: $base-line-height / 2 1rem;
  user-select: none;
}

.picker-header,
.picker-footer {
  @include type-setting(1);

  display: flex;
  height: $base-line-height * 2;
  width: 100%;
}

.picker-header-nav {
  position: relative;
  cursor: pointer;
  width: calc(100% / 8);

  & > * {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-prev::before,
  .nav-next::before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: .75em solid #000;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
  }

  .nav-next::before {
    border-right: 0;
    border-left: .75em solid #000;
  }
}

.picker-header-content {
  width: calc(100% * 6 / 8);
  text-align: center;

  .month {
    @include type-setting(2);

    margin-right: .5rem;
    font-weight: 700;
  }

  .year {
    font-style: italic;
    color: #999;
  }
}

.picker-calendar {
  width: 100%;

  .picker-calendar-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: $base-line-height / 2;
  }

  .picker-weekday {
    font-weight: 700;
    text-align: left;
    color: #999;
    width: calc(100% / 7);
  }

  .picker-day {
    @include type-setting(1);
    position: relative;
    height: $base-line-height * 2;
    text-align: center;
    cursor: pointer;
    width: calc(100% / 7);

    &:hover {
      background: #b1dcfb
    }
  }

  .out-focus {
    color: #ddd;

    &:hover {
      color: #000;
    }
  }

  .selected {
    background: #0089ec;
    color: #fff;

    &:hover {
      background: #0089ec;
    }
  }

  .today::before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: .5em solid #0059bc;
    border-left: .5em solid transparent;
  }
}

.picker-footer {

  cursor: pointer;

  .picker-action {
    text-align: center;
    width: calc(100% / 3);

    &:hover {
      background-color: #b1dcfb;
    }

    .text {
      padding-left: .8rem;
    }
  }

  .action-today::before,
  .action-clear::before,
  .action-close::before {
    content: " ";
    position: relative;
    display: inline-block;
    height: 0;
    width: 0;
  }

  .action-today::before {
    border-top: .66em solid #0059bc;
    border-left: .66em solid transparent;
  }

  .action-clear::before {
    top: -.5rem;
    width: 1rem;
    border-top: 3px solid #e20;
  }

  .action-close::before {
    width: 1rem;
    height: 1rem;
    background: linear-gradient(to bottom, transparent 35%, #777 35%, #777 65%,  transparent 65%),
    linear-gradient(to right, transparent 35%, #777 35%, #777 65%, transparent 65%);
    transform: rotate(45deg);
  }
}
