@import '../sass/utils/variables';
@import '../sass/utils/functions';
@import '../sass/utils/mixins';

main {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.header {
  width: 100%;
  height: $base-line-height * 6;
  background-color: $brand-color;
  color: $white;
  text-align: center;
  overflow: hidden;

  h1 {
    @include type-setting(2);
    margin: $base-line-height 0 0;

    @include respond-to('large') {
      @include type-setting(3);
    }
  }

  .github-banner {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}

.container {
  width: 100vw;
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
  background-color: $white;
}
