@import '../sass/utils/variables';
@import '../sass/utils/functions';
@import '../sass/utils/mixins';

main {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: $base-line-height * 15;
  background-color: $brand-color;
  color: $white;
  text-align: center;
  overflow: hidden;

  h1 {
    @include type-setting(2);
    margin: $base-line-height * 3 0 0;

    @include respond-to('large') {
      @include type-setting(5);
    }
  }

  .github-banner {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}

.container {
  width: 100vw;
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
}

.demo {
  width: 100%;

  .input-control {
    margin: $base-line-height * 3 0;
  }

  label {
    display: block;
  }

  .picker-input {

    width: 50%;
    min-width: 18rem;
    height: $base-line-height * 2;
    padding: 0 1rem;
    border-radius: 2rem;
    border: 1px solid darken($mid-grey, 10%);
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}