<label for="daterange">Datetime range (click, then press 'Set' to modify):</label>
<input [(ngModel)]="selectedMoments" [selectMode]="'range'"
       [owlDateTimeTrigger]="date_range_component" [owlDateTime]="date_range_component"
       style="width: 100%; color: cornflowerblue"
       id="daterange" matInput required>
<owl-date-time #date_range_component [startAt]="currentValue" [endAt]="endValue" (afterPickerClosed)="selectedTrigger($event)" (dateSelected)="selectedTrigger($event)"></owl-date-time>
