<div class="time-view">
    <div class="time">{{hourValue | numberFixedLen: 2}} : {{minValue | numberFixedLen: 2}}</div>
    <div class="meridiem">
        <div class="button-group">
            <button class="button" [class.active]="meridianValue === 'AM'" (click)="setMeridian('AM')">AM</button>
            <button class="button" [class.active]="meridianValue === 'PM'" (click)="setMeridian('PM')">PM</button>
        </div>
    </div>
    <div *ngIf="dialogType === 0" class="time-control">
        <div class="title">Hours</div>
        <app-slide-bar [floor]="1" [ceiling]="12" [(low)]="hourValue"></app-slide-bar>
    </div>
    <div *ngIf="dialogType === 0" class="time-control">
        <div class="title">Minutes</div>
        <app-slide-bar [floor]="0" [ceiling]="59" [(low)]="minValue"></app-slide-bar>
    </div>

    <div class="control">
        <button class="button" (click)="setTime()">Set Time</button>
    </div>
</div>