@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';
@import './colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.picker-popup {
  width: 100vw;
  max-width: 666px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;

  @include respond-to(medium) {
    overflow-y: hidden;
  }
}

.picker-dropdown {
  @include respond-to('medium') {
    max-width: 300px;
  }
  max-width: 100vw;
  min-width: 200px;
  border: #777 solid 1px;
  position: absolute;
  z-index: 1000;
  user-select: none;
  background-color: $white;
  border-radius: 5px;
}

.picker-inline {
  max-width: 250px;
  min-width: 200px;
  border: #777 solid 1px;
  position: relative;
  user-select: none;
  background-color: $white;
  border-radius: 5px;
  display: inline-block;
}

.picker-box {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  width: 100%;
  height: 100%;
  user-select: none;
}

.picker-banner {
  width: 100%;
  background-color: $blue;
  color: $white;
  user-select: none;
  border-radius: 4px 4px 0 0;
}

.picker-banner-day {
  @include when-inside('.small-mode') {
    @include type-setting(-1);
  }
  @include type-setting(1);
  text-align: center;
  background: rgba(0, 0, 0, 0.09);
}

.picker-banner-moment {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .moment-date,
  .moment-time {
    padding: 0 .5rem;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.65);
    }
  }

  .moment-date {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50%;

    @include respond-to(medium) {
      justify-content: flex-end;
    }

    .big, .small {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .big {
      @include when-inside('.small-mode') {
        @include type-setting(1);
      }
      @include type-setting(4);
    }

    .small {
      @include when-inside('.small-mode') {
        @include type-setting(-2);
      }
      flex-direction: column;
      padding: .3rem .5rem;
      font-weight: 300;
    }
  }

  .moment-time {
    display: flex;
    justify-content: center;
    width: 100%;

    @include when-inside('.small-mode') {
      width: 50%;
      justify-content: flex-start;
    }

    @include respond-to(medium) {
      width: 50%;
      justify-content: flex-start;
    }

    .big, .small {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .big {
      @include when-inside('.small-mode') {
        @include type-setting(1);
      }
      @include type-setting(3);
      font-weight: 100;
    }

    .small {
      @include when-inside('.small-mode') {
        @include type-setting(-1);
      }
      @include type-setting(1);
      padding: 0 5px;
    }
  }
}

.picker-content {
  @include when-inside('.small-mode') {
    height: $base-line-height * 11;
  }
  flex-grow: 1;
  width: 100%;
  height: $base-line-height * 19;

  .hidden {
    display: none;
  }
}

.theme-green {

  .picker-banner {
    background-color: $green;
  }
  .bar {
    .highlight {
      background: $green!important;
    }
  }
}
.theme-teal {

  .picker-banner {
    background-color: $teal;
  }
  .bar {
    .highlight {
      background: $teal!important;
    }
  }
}
.theme-cyan {

  .picker-banner {
    background-color: $cyan;
  }
  .bar {
    .highlight {
      background: $cyan!important;
    }
  }
}
.theme-grape {

  .picker-banner {
    background-color: $grape;
  }
  .bar {
    .highlight {
      background: $grape!important;
    }
  }
}
.theme-red {

  .picker-banner {
    background-color: $red;
  }
  .bar {
    .highlight {
      background: $red!important;
    }
  }
}
.theme-gray {

  .picker-banner {
    background-color: $gray;
  }
  .bar {
    .highlight {
      background: $gray!important;
    }
  }
}
