@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.picker-wrap {
  width: 95vw;
  max-width: 666px;
}

.picker-box {
  font-family: 'Open Sans';
  width: 100%;
  padding: $base-line-height / 2 1rem;
  user-select: none;
}

.picker-banner {
  width: 100%;
  background-color: #4285f4;
  color: $white;
  user-select: none;
}

.picker-banner-day {
  padding: 5px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.09);
}

.picker-banner-moment {
  display: flex;
  width: 100%;

  .moment-date,
  .moment-time {
    width: 50%;
    padding: $base-line-height/2 1rem;
    cursor: pointer;
  }

  .moment-date {
    display: flex;
    justify-content: flex-end;

    .big, .small {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .big {
      @include type-setting(3);
      @include respond-to(medium) {
        @include type-setting(4);
      }
    }

    .small {
      flex-direction: column;
      padding: 0 1rem;
    }
  }
}

.picker-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: $base-line-height * 17;
}

.picker-header,
.picker-footer {
  @include type-setting(1);

  display: flex;
  height: $base-line-height * 2;
  width: 100%;
}

.picker-header-nav {
  position: relative;
  cursor: pointer;
  width: calc(100% / 8);

  & > * {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-prev::before,
  .nav-next::before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: .75em solid #000;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
  }

  .nav-next::before {
    border-right: 0;
    border-left: .75em solid #000;
  }
}

.picker-header-content {
  width: calc(100% * 6 / 8);
  text-align: center;

  .month,
  .year {
    display: inline-block;
    cursor: pointer;
    transition: transform 200ms ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  .month {
    @include type-setting(1);

    margin-right: .5rem;
    font-weight: 700;
  }

  .year {
    font-style: italic;
    color: #999;
  }
}

.picker-calendar {
  flex-grow: 1;
  width: 100%;

  .picker-calendar-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .picker-month {
    @include type-setting(1);
    position: relative;
    height: $base-line-height * 2;
    text-align: center;
    cursor: pointer;
    width: calc(100% / 4);

    &:hover {
      background: #b1dcfb
    }
  }

  .picker-weekday {
    font-weight: 700;
    text-align: left;
    color: #999;
    width: calc(100% / 7);
  }

  .picker-day {
    @include type-setting(1);
    position: relative;
    height: $base-line-height * 2;
    text-align: center;
    cursor: pointer;
    width: calc(100% / 7);

    &:hover {
      background: #b1dcfb
    }
  }

  .out-focus {
    color: #ddd;

    &:hover {
      color: #000;
    }
  }

  .selected {
    background: #0089ec;
    color: #fff;

    &:hover {
      background: #0089ec;
    }
  }

  .today::before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: .5em solid #0059bc;
    border-left: .5em solid transparent;
  }
}

.picker-footer {

  cursor: pointer;

  .picker-action {
    text-align: center;
    width: calc(100% / 3);

    &:hover {
      background-color: #b1dcfb;
    }

    .text {
      padding-left: .8rem;
    }
  }

  .action-today::before,
  .action-clear::before,
  .action-close::before {
    content: " ";
    position: relative;
    display: inline-block;
    height: 0;
    width: 0;
  }

  .action-today::before {
    border-top: .66em solid #0059bc;
    border-left: .66em solid transparent;
  }

  .action-clear::before {
    top: -.5rem;
    width: 1rem;
    border-top: 3px solid #e20;
  }

  .action-close::before {
    width: 1rem;
    height: 1rem;
    background: linear-gradient(to bottom, transparent 35%, #777 35%, #777 65%, transparent 65%),
    linear-gradient(to right, transparent 35%, #777 35%, #777 65%, transparent 65%);
    transform: rotate(45deg);
  }
}
