<picker-modal *ngIf="dtMode === 'popup' && show" (onOverlayClick)="cancelDialog()">
    <div class="picker-wrap">
        <div class="picker-box">
            <div class="picker-banner">
                <div class="picker-banner-day">{{ (selectedMoment? selectedMoment : now) | moment: 'dddd'}}</div>
                <div class="picker-banner-moment">
                    <div class="moment-date" (click)="toggleDialogType(1)">
                        <div class="big">
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'Do'}}</span>
                        </div>
                        <div class="small">
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'MMM'}}</span>
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'YYYY'}}</span>
                        </div>
                    </div>
                    <div class="moment-time" (click)="toggleDialogType(0)">
                        <div class="big">
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'hh:mm'}}</span>
                        </div>
                        <div class="small">
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'A'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="picker-content">
                <dialog-date-panel [hidden]="dialogType === 0" [moment]="moment" [dialogType]="dialogType" [now]="now"
                                   [locale]="dtLocale" [selectedMoment]="selectedMoment"
                                   (onSelectDate)="select($event)"
                                   (onCancelDialog)="cancelDialog()"
                                   (onConfirm)="confirm()"></dialog-date-panel>
                <dialog-time-panel [hidden]="dialogType !== 0" [moment]="moment" [dialogType]="dialogType"
                                   [now]="now" (onSetTime)="setTime($event)"></dialog-time-panel>
            </div>
        </div>
    </div>
</picker-modal>

<div class="picker-dropdown"
     *ngIf="dtMode === 'dropdown' && show"
     [ngStyle]="{
        'width.px': width,
        'top.px': top,
        'left.px': left,
        'position': position
     }">
    <div class="picker-box">
        <div class="picker-banner">
            <div class="picker-banner-day">{{ (selectedMoment? selectedMoment : now) | moment: 'dddd'}}</div>
            <div class="picker-banner-moment">
                <div class="moment-date" (click)="toggleDialogType(1)">
                    <div class="big">
                        <span>{{(selectedMoment? selectedMoment : now) | moment: 'Do'}}</span>
                    </div>
                    <div class="small">
                        <span>{{(selectedMoment? selectedMoment : now) | moment: 'MMM'}}</span>
                        <span>{{(selectedMoment? selectedMoment : now) | moment: 'YYYY'}}</span>
                    </div>
                </div>
                <div class="moment-time" (click)="toggleDialogType(0)">
                    <div class="big">
                        <span>{{(selectedMoment? selectedMoment : now) | moment: 'hh:mm'}}</span>
                    </div>
                    <div class="small">
                        <span>{{(selectedMoment? selectedMoment : now) | moment: 'A'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="picker-content">
            <dialog-date-panel [hidden]="dialogType === 0" [moment]="moment" [dialogType]="dialogType" [now]="now"
                               [locale]="dtLocale" [selectedMoment]="selectedMoment"
                               (onSelectDate)="select($event)"
                               (onCancelDialog)="cancelDialog()"
                               (onConfirm)="confirm()"></dialog-date-panel>
            <dialog-time-panel [hidden]="dialogType !== 0" [moment]="moment" [dialogType]="dialogType"
                               [now]="now" (onSetTime)="setTime($event)"></dialog-time-panel>
        </div>
    </div>
</div>
