<div class="picker-overlay"
     [ngClass]="{'picker-overlay-dropdown': mode === 'dropdown'}"
     *ngIf="(mode === 'popup' || mode === 'dropdown') && show"
     (click)="cancelDialog()"></div>
<div *ngIf="(show && (mode === 'dropdown' || mode === 'popup')) || mode === 'inline'"
     [ngClass]="{
        'picker-popup': mode === 'popup',
        'picker-dropdown': mode === 'dropdown',
        'picker-inline': mode === 'inline',
        'small-mode': mode === 'dropdown' || mode === 'inline'}"
     dialogPosition [directiveElementRef]="directiveElementRef">
    <div class="picker-box">
        <dialog-picker-header [dialogType]="dialogType" [selectedMoment]="selectedMoment" [now]="now" (onDialogTypeChange)="toggleDialogType($event)"></dialog-picker-header>
        <div class="picker-content">
            <dialog-date-panel *ngIf="pickerType === 'both' || pickerType === 'date'"
                               [ngClass]="{'picker-hidden': dialogType === 0}"
                               [selectedMoment]="selectedMoment"
                               [dialogType]="dialogType"
                               (onDialogTypeChange)="toggleDialogType($event)"
                               (onSelected)="setDate($event)"
                               (onCancelDialog)="cancelDialog()"
                               (onConfirm)="confirm($event)"></dialog-date-panel>
            <dialog-time-panel *ngIf="pickerType === 'both' || pickerType === 'time'"
                               [ngClass]="{'picker-hidden': dialogType !== 0}"
                               (onSetTime)="setTime($event)"></dialog-time-panel>
        </div>
    </div>
</div>
