<picker-modal *ngIf="show" (onOverlayClick)="cancelDialog()">
    <div class="picker-wrap">
        <div class="picker-box">
            <div class="picker-banner">
                <div class="picker-banner-day">{{ (selectedMoment? selectedMoment : now) | moment: 'dddd'}}</div>
                <div class="picker-banner-moment">
                    <div class="moment-date">
                        <div class="big">
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'Do'}}</span>
                        </div>
                        <div class="small">
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'MMM'}}</span>
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'YYYY'}}</span>
                        </div>
                    </div>
                    <div class="moment-time">
                        <div class="big">
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'hh:mm'}}</span>
                        </div>
                        <div class="small">
                            <span>{{(selectedMoment? selectedMoment : now) | moment: 'A'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="dialogType === 0" class="picker-content">
                <dialog-date-panel [moment]="moment" [dialogType]="dtDialogType" [now]="now"
                                   [locale]="dtLocale" [selectedMoment]="selectedMoment"
                                   (onSelectDate)="select($event)"></dialog-date-panel>
            </div>
            <div class="picker-footer">
                <div class="picker-action action-today" (click)="selectToday()"><span class="text">Today</span>
                </div>
                <div class="picker-action action-clear" (click)="clearPickDate()"><span class="text">Clear</span>
                </div>
                <div class="picker-action action-close" (click)="cancelDialog()"><span class="text">Close</span>
                </div>
                <div class="picker-action action-confirm" (click)="confirm()"><span class="text">Confirm</span>
                </div>
            </div>
        </div>
    </div>
</picker-modal>