:host {
  display: block;
  position: relative;
  height: 4px;
  width: 80%;
  margin: 10px auto 25px auto;
  vertical-align: middle;
}

.bar {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #ccc;
  overflow: hidden;
}

.handle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 25px;
  height: 25px;
  background: #fff;
  box-shadow: 0px 0px 5px #ccc;
  z-index: 2;
  border-radius: 100%;
  cursor: pointer;
}