@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';
@import './colors';

.time-panel {
  width: 100%;
}

.time {
  @include type-setting(3);
  text-align: center;
  padding: $base-line-height 0 0;
  color: $blue;
}

.title {
  @include type-setting(1);
  width: 80%;
  margin: $base-line-height/2 auto;
}

.meridiem {
  text-align: center;

  .button-group {
    display: inline-block;
  }

  .button {
    border: 1px solid $blue;
    background: $white;
    border-radius: 3px;
    float: left;
    margin: 0;
    align-items: initial;
    color: $blue;
    width: auto;
    padding: 0 5px;
    cursor: pointer;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.active {
      background: $blue;
      color: $white;
    }
  }
}

.control {
  @include type-setting(1);

  margin: $base-line-height * 2 0;
  text-align: center;

  .button {
    width: 50%;
    background: $blue;
    color: $white;
    margin: 0 auto;
    border: 1px solid $blue;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: darken($blue, 5%);
    }
  }
}

.theme-green {
  .time {
    color: $green;
  }

  .meridiem {
    .button {
      border-color: $green;
      color: $green;

      &.active {
        background: $green;
        color: $white;
      }
    }
  }

  .control {
    .button {
      background: $green;
      border-color: $green;

      &:hover {
        background-color: darken($green, 5%);
      }
    }
  }
}
.theme-teal {
  .time {
    color: $teal;
  }

  .meridiem {
    .button {
      border-color: $teal;
      color: $teal;

      &.active {
        background: $teal;
        color: $white;
      }
    }
  }

  .control {
    .button {
      background: $teal;
      border-color: $teal;

      &:hover {
        background-color: darken($teal, 5%);
      }
    }
  }
}
.theme-cyan {
  .time {
    color: $cyan;
  }

  .meridiem {
    .button {
      border-color: $cyan;
      color: $cyan;

      &.active {
        background: $cyan;
        color: $white;
      }
    }
  }

  .control {
    .button {
      background: $cyan;
      border-color: $cyan;

      &:hover {
        background-color: darken($cyan, 5%);
      }
    }
  }
}
.theme-grape {
  .time {
    color: $grape;
  }

  .meridiem {
    .button {
      border-color: $grape;
      color: $grape;

      &.active {
        background: $grape;
        color: $white;
      }
    }
  }

  .control {
    .button {
      background: $grape;
      border-color: $grape;

      &:hover {
        background-color: darken($grape, 5%);
      }
    }
  }
}
.theme-red {
  .time {
    color: $red;
  }

  .meridiem {
    .button {
      border-color: $red;
      color: $red;

      &.active {
        background: $red;
        color: $white;
      }
    }
  }

  .control {
    .button {
      background: $red;
      border-color: $red;

      &:hover {
        background-color: darken($red, 5%);
      }
    }
  }
}
.theme-gray {
  .time {
    color: $gray;
  }

  .meridiem {
    .button {
      border-color: $gray;
      color: $gray;

      &.active {
        background: $gray;
        color: $white;
      }
    }
  }

  .control {
    .button {
      background: $gray;
      border-color: $gray;

      &:hover {
        background-color: darken($gray, 5%);
      }
    }
  }
}
