<div class="yk-date-panel" [ngClass]="{
    'small-mode': mode === 'dropdown' || mode === 'inline'}">
    <div class="picker-control">
        <div class="picker-control-nav">
            <span class="nav-prev" (click)="prevMonth()"></span>
        </div>
        <div class="picker-control-content">
            <div class="content">
                <span class="month" (click)="toggleDialogType(2)">{{calendarMoment | moment: "MMMM"}}</span>
                <span class="year" (click)="toggleDialogType(3)">{{calendarMoment | moment: "YYYY"}}</span>
            </div>
        </div>
        <div class="picker-control-nav">
            <span class="nav-next" (click)="nextMonth()"></span>
        </div>
    </div>
    <div class="picker-calendar">
        <div [hidden]="type !== 1" class="date">
            <div class="picker-calendar-row">
                <span class="picker-weekday" *ngFor="let day of dayNames">{{ day }}</span>
            </div>
            <div class="picker-calendar-row">
                <div class="picker-day"
                     (click)="select(day)"
                     [ngClass]="{
                        'picker-show': day,
                        'picker-day-today': isToday(day)
                        }"
                     *ngFor="let day of calendarDays"
                     pickerCalendarHighlight [day]="day" [calendarMoment]="calendarMoment">
                    <span *ngIf="isToday(day)" class="today-icon"
                          [ngStyle]="{'border-top-color': todayIconColor}"></span>
                    <span *ngIf="day">{{ day | moment: 'D'}}</span>
                </div>
            </div>
        </div>
        <div [hidden]="type !== 2" class="month">
            <div class="picker-calendar-row">
                <span class="picker-month"
                      *ngFor="let month of monthList"
                      (click)="selectMonth(month)"
                      pickerCalendarHighlight [month]="month" [calendarMoment]="calendarMoment">
                    {{month}}
                </span>
            </div>
        </div>
        <div [hidden]="type !== 3" class="year">
            <div class="picker-calendar-row">
                <span class="arrow-left" (click)="generateYearList('prev')"></span>
                <span class="picker-year"
                      *ngFor="let year of yearList"
                      (click)="selectYear(year)"
                      pickerCalendarHighlight [year]="year.toString()" [calendarMoment]="calendarMoment">
                    {{year}}
                </span>
                <span class="arrow-right" (click)="generateYearList('next')"></span>
            </div>
        </div>
    </div>
    <div class="picker-control footer" [class.hidden]="type !== 1">
        <div class="picker-action action-today" (click)="selectToday()">
            <span class="today-icon" [ngStyle]="{'border-top-color': todayIconColor}"></span>
            <span class="text">{{ 'today' | translate }}</span>
        </div>
        <div class="picker-action action-close" (click)="clearPickerInput()"><span
                class="text">{{ 'cancel' | translate }}</span>
        </div>
        <div class="picker-action action-confirm"
             pickerBtnHighlight
             (click)="confirm()" [hidden]="mode === 'inline' || autoClose=== true"><span class="text">{{ 'confirm' | translate }}</span>
        </div>
    </div>
</div>