<div class="yk-date-panel" [ngClass]="{
    'small-mode': mode === 'dropdown' || mode === 'inline'}">
    <div class="picker-control">
        <div class="picker-control-nav">
            <span class="nav-prev" (click)="prevMonth()"></span>
        </div>
        <div class="picker-control-content">
            <div class="content">
                <span class="month" (click)="toggleDialogType(2)">{{calendarMoment | moment: "MMMM"}}</span>
                <span class="year" (click)="toggleDialogType(3)">{{calendarMoment | moment: "YYYY"}}</span>
            </div>
        </div>
        <div class="picker-control-nav">
            <span class="nav-next" (click)="nextMonth()"></span>
        </div>
    </div>
    <div class="picker-calendar">
        <div [hidden]="type !== 1" class="date">
            <div class="picker-calendar-row">
                <span class="picker-weekday" *ngFor="let day of dayNames">{{ day }}</span>
            </div>
            <div class="picker-calendar-row">
                <div class="picker-day"
                     (click)="select(day)"
                     [ngClass]="{
                        'picker-show': day,
                        'picker-day-today': isToday(day)
                        }"
                     *ngFor="let day of calendarDays"
                     pickerCalendarHighlight [day]="day" [calendarMoment]="calendarMoment">
                    <span *ngIf="isToday(day)" class="today-icon"
                          [ngStyle]="{'border-top-color': todayIconColor}"></span>
                    <span *ngIf="day">{{ day | moment: 'D'}}</span>
                </div>
            </div>
        </div>
        <div [hidden]="type !== 2" class="month">
            <div class="picker-calendar-row">
                <span class="picker-month"
                      *ngFor="let month of monthList"
                      (click)="selectMonth(month)"
                      pickerCalendarHighlight [month]="month" [calendarMoment]="calendarMoment">
                    {{month}}
                </span>
            </div>
        </div>
        <div [hidden]="type !== 3" class="year">
            <div class="picker-calendar-row">
                <span class="arrow-left" (click)="generateYearList('prev')">
                    <svg version="1.1" id="arrow-left-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250.738 250.738" style="enable-background:new 0 0 250.738 250.738;" xml:space="preserve">
    <g id="Rounded_Rectangle_33_copy_4_1_">
        <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M96.633,125.369l95.053-94.533c7.101-7.055,7.101-18.492,0-25.546
            c-7.1-7.054-18.613-7.054-25.714,0L58.989,111.689c-3.784,3.759-5.487,8.759-5.238,13.68c-0.249,4.922,1.454,9.921,5.238,13.681
            l106.983,106.398c7.101,7.055,18.613,7.055,25.714,0c7.101-7.054,7.101-18.491,0-25.544L96.633,125.369z"/>
    </g>
</svg>
                </span>
                <span class="picker-year"
                      *ngFor="let year of yearList"
                      (click)="selectYear(year)"
                      pickerCalendarHighlight [year]="year.toString()" [calendarMoment]="calendarMoment">
                    {{year}}
                </span>
                <span class="arrow-right" (click)="generateYearList('next')">
                    <svg version="1.1" id="arrow-right-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250.738 250.738" style="enable-background:new 0 0 250.738 250.738;" xml:space="preserve">
<g id="Rounded_Rectangle_33_copy_4">
	<path style="fill-rule:evenodd;clip-rule:evenodd;" d="M191.75,111.689L84.766,5.291c-7.1-7.055-18.613-7.055-25.713,0
		c-7.101,7.054-7.101,18.49,0,25.544l95.053,94.534l-95.053,94.533c-7.101,7.054-7.101,18.491,0,25.545
		c7.1,7.054,18.613,7.054,25.713,0L191.75,139.05c3.784-3.759,5.487-8.759,5.238-13.681
		C197.237,120.447,195.534,115.448,191.75,111.689z"/>
</g>
</svg>
                </span>
            </div>
        </div>
    </div>
    <div class="picker-control footer" [class.hidden]="type !== 1">
        <div class="picker-action action-today" (click)="selectToday()">
            <span class="today-icon" [ngStyle]="{'border-top-color': todayIconColor}"></span>
            <span class="text">{{ 'today' | translate }}</span>
        </div>
        <div class="picker-action action-close" (click)="clearPickerInput()"><span
                class="text">{{ 'cancel' | translate }}</span>
        </div>
        <div class="picker-action action-confirm"
             pickerBtnHighlight
             (click)="confirm()" [hidden]="mode === 'inline' || autoClose=== true"><span class="text">{{ 'confirm' | translate }}</span>
        </div>
    </div>
</div>