@import './sass/utils/variables';
@import './sass/utils/functions';
@import './sass/utils/mixins';
@import './colors';

.owl-moment-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.owl-picker-popup {
  @include respond-to(medium) {
    top: 30px;
    height: auto;
  }

  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  overflow: hidden;
}

.owl-picker-dropdown {
  position: absolute;
}

.owl-picker-inline {
  position: relative;
  user-select: none;
  display: inline-block;
}

.owl-moment-picker-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
}

.owl-moment-picker-content {

  @include when-inside('.small-mode') {
    height: $base-line-height * 14;
  }

  position: relative;
  flex-grow: 1;
  width: 100%;
  height: $base-line-height * 19;

  .owl-picker-hidden {
    display: none;
  }
}
