<div class="owl-moment-overlay"
     [ngClass]="{'owl-moment-overlay-dropdown': mode === 'dropdown'}"
     *ngIf="(mode === 'popup' || mode === 'dropdown') && show"
     (click)="closeDialog()"></div>
<div class="owl-widget owl-moment-picker"
     [ngClass]="{
        'owl-picker-popup': mode === 'popup',
        'owl-picker-dropdown': mode === 'dropdown',
        'owl-picker-inline': mode === 'inline',
        'small-mode': mode === 'dropdown' || mode === 'inline'}"
     dialogPosition [directiveElementRef]="directiveElementRef" [hidden]="!show && (mode === 'dropdown' || mode === 'popup')">
    <div class="owl-moment-picker-box">
        <dialog-picker-header [dialogType]="dialogType" (onDialogTypeChange)="toggleDialogType($event)"></dialog-picker-header>
        <div class="owl-moment-picker-content">
            <dialog-date-panel *ngIf="pickerType === 'both' || pickerType === 'date'"
                               [ngClass]="{'owl-picker-hidden': dialogType === 0}"
                               [dialogType]="dialogType"
                               (onDialogTypeChange)="toggleDialogType($event)"
                               (onSelected)="setDate($event)"
                               (onClosePicker)="closeDialog()"
                               (onConfirm)="confirmSelectedMoment($event)"></dialog-date-panel>
            <dialog-time-panel *ngIf="pickerType === 'both' || pickerType === 'time'"
                               [ngClass]="{'owl-picker-hidden': dialogType !== 0}"
                               (onSetTime)="setTime($event)"></dialog-time-panel>
        </div>
    </div>
</div>
