<div class="owl-moment-picker-header"
     [ngClass]="{'small-mode': mode === 'dropdown' || mode === 'inline'}">
    <div class="owl-moment-picker-banner">
        <div *ngIf="dialogType !== 0">
            {{ (selectedMoment? selectedMoment : now) | moment: 'dddd'}}
        </div>
        <div *ngIf="dialogType === 0" class="svg-wrapper">
            <!-- <editor-fold desc='clock svg'> -->
            <svg version="1.1" class="owl-svg-icon-light" id="clock-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
<g>
	<g id="Clock">
		<g>
			<path d="M444.193,276.387h-108.58V148.064c0-16.366-13.247-29.613-29.613-29.613s-29.613,13.247-29.613,29.613v187.549h167.806
				c16.347,0,29.613-13.247,29.613-29.613S460.54,276.387,444.193,276.387z M306,0C137.009,0,0,137.009,0,306s137.009,306,306,306
				s306-137.009,306-306S474.991,0,306,0z M306,552.774C169.919,552.774,59.226,442.081,59.226,306S169.919,59.226,306,59.226
				S552.774,169.919,552.774,306S442.081,552.774,306,552.774z"/>
		</g>
	</g>
</g>
</svg>
            <!-- </editor-fold> -->
        </div>
    </div>
    <div class="owl-moment-picker-moment">
        <div class="owl-moment-date" *ngIf="pickerType === 'both' || pickerType === 'date'"
             (click)="setDialogType(1)">
            <div class="big">
                <span>{{(selectedMoment? selectedMoment : now) | moment: 'Do'}}</span>
            </div>
            <div class="small">
                <span>{{(selectedMoment? selectedMoment : now) | moment: 'MMM'}}</span>
                <span>{{(selectedMoment? selectedMoment : now) | moment: 'YYYY'}}</span>
            </div>
        </div>
        <div class="owl-moment-time" *ngIf="pickerType === 'both' || pickerType === 'time'"
             (click)="setDialogType(0)">
            <div class="big">
                <span *ngIf="hourTime === '12' && showSeconds">{{(selectedMoment? selectedMoment : now) | moment: 'hh:mm:ss'}}</span>
                <span *ngIf="hourTime === '12' && !showSeconds">{{(selectedMoment? selectedMoment : now) | moment: 'hh:mm'}}</span>
                <span *ngIf="hourTime === '24' && showSeconds">{{(selectedMoment? selectedMoment : now) | moment: 'HH:mm:ss'}}</span>
                <span *ngIf="hourTime === '24' && !showSeconds">{{(selectedMoment? selectedMoment : now) | moment: 'HH:mm'}}</span>
            </div>
            <div class="small" *ngIf="hourTime === '12'">
                <span>{{(selectedMoment? selectedMoment : now) | moment: 'A'}}</span>
            </div>
        </div>
    </div>
</div>