@import './sass/utils/variables';
@import './sass/utils/functions';
@import './sass/utils/mixins';
@import './colors';

.owl-moment-picker-header {
  width: 100%;
  user-select: none;
}

.owl-moment-picker-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $base-line-height;

  .svg-wrapper {
    width: $base-line-height * 0.8;
    height: $base-line-height * 0.8;
  }
}

.owl-moment-picker-moment {
  display: flex;
  flex-wrap: wrap;
  min-height: $base-line-height * 2;
  width: 100%;

  .owl-moment-date,
  .owl-moment-time {
    padding: 0 .5rem;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.65);
    }
  }

  .owl-moment-date {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50%;

    @include respond-to(medium) {
      justify-content: flex-end;
    }

    .big, .small {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .small {
      flex-direction: column;
      padding: .3rem .5rem;
      font-weight: 300;
    }
  }

  .owl-moment-time {
    display: flex;
    justify-content: center;
    width: 100%;

    @include when-inside('.small-mode') {
      width: 50%;
      justify-content: flex-start;
    }

    @include respond-to(max-small) {
      width: 50%;
      justify-content: flex-start;
    }

    @include respond-to(medium) {
      width: 50%;
      justify-content: flex-start;
    }

    .big, .small {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}