@import './colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.yk-slider {
  position: relative;
  height: 4px;
  width: 100px;
  background: #ccc;
  border-radius: 10px;
  margin: 0 auto;
  cursor: default;
  user-select: none;
}

.yk-slider-bar {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
}

.yk-slider-handle {
  position: absolute;
  top: -10px;
  margin-left: -12.5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  box-shadow: 0px 0px 5px #ccc;
  z-index: 2;
  border-radius: 100%;
  cursor: pointer;
}
