@import './colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
  position: relative;
  height: 4px;
  width: 80%;
  margin: 10px auto 20px auto;
  vertical-align: middle;
}

.bar {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #ccc;
  overflow: hidden;

  .highlight {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
  }
}

.handle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  box-shadow: 0px 0px 5px #ccc;
  z-index: 2;
  border-radius: 100%;
  cursor: pointer;
}
