@import './sass/utils/variables';
@import './sass/utils/functions';
@import './sass/utils/mixins';
@import './colors';

.owl-time-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.owl-time-panel-inform {
  display: flex;
  justify-content: center;
}

.time-inform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.meridiem-inform {
  width: 40%;

  .meridiem-button-group {
    display: inline-block;
  }

  .meridiem-button {
    float: left;
    margin: 0;
    align-items: initial;
    width: auto;
    padding: 0 5px;
    cursor: pointer;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.owl-time-panel-sliders {
  display: flex;
  justify-content: center;
  width: 100%;
  height: $base-line-height * 9;

  .owl-time-panel-slider {
    margin: 0 35px;
  }
}

.time-panel-confirm {
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}

.control-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
  margin: 0 auto;

  svg {
    border-radius: 100%;
  }
}