<div class="time-panel" [ngClass]="{
    'picker-popup': mode === 'popup',
    'picker-dropdown': mode === 'dropdown',
    'picker-inline': mode === 'inline'}">
    <div class="time-panel-header" [ngStyle]="{'color': themeColor}">
        <div class="time" *ngIf="showSeconds">{{hourValue | numberFixedLen: 2}} : {{minValue | numberFixedLen: 2}} :
            {{(secValue | numberFixedLen: 2)}}
        </div>
        <div class="time" *ngIf="!showSeconds">{{hourValue | numberFixedLen: 2}} : {{minValue | numberFixedLen: 2}}
        </div>
        <div class="meridiem" *ngIf="hourTime === '12'">
            <div class="button-group">
                <button class="button" type="button"
                        [ngStyle]="{
                            'background-color': meridianValue === 'AM' ? themeColor : null,
                            'border-color': themeColor,
                            'color': meridianValue === 'AM' ? '#FFFFFF' : themeColor
                        }"
                        (click)="setMeridian('AM')">
                    AM
                </button>
                <button class="button" type="button"
                        [ngStyle]="{
                            'background-color': meridianValue === 'PM' ? themeColor : null,
                            'border-color': themeColor,
                            'color': meridianValue === 'PM' ? '#FFFFFF' : themeColor
                        }"
                        (click)="setMeridian('PM')">
                    PM
                </button>
            </div>
        </div>
    </div>
    <div class="time-control">
        <div class="title">{{'hour' | translate}}</div>
        <app-slide-bar [(ngModel)]="hourValue" [min]="hourFloor" [max]="hourCeiling" [style]="{width: '80%'}"></app-slide-bar>
    </div>
    <div class="time-control">
        <div class="title">{{'minute' | translate}}</div>
        <app-slide-bar [(ngModel)]="minValue" [min]="0" [max]="59" [style]="{width: '80%'}"></app-slide-bar>
    </div>

    <div class="time-control" *ngIf="showSeconds">
        <div class="title">{{'second' | translate}}</div>
        <app-slide-bar [(ngModel)]="secValue" [min]="0" [max]="59" [style]="{width: '80%'}"></app-slide-bar>
    </div>

    <div class="control">
        <div class="button" (click)="setTime()" pickerBtnHighlight>{{'set time' | translate}}</div>
    </div>
</div>