<div class="owl-time-panel">
    <div class="owl-time-panel-inform">
        <div class="time-inform" *ngIf="showSeconds">{{hourValue | numberFixedLen: 2}} : {{minValue | numberFixedLen: 2}} :
            {{(secValue | numberFixedLen: 2)}}
        </div>
        <div class="time-inform " *ngIf="!showSeconds">{{hourValue | numberFixedLen: 2}} : {{minValue | numberFixedLen: 2}}
        </div>
        <div class="time-inform meridiem-inform" *ngIf="hourTime === '12'">
            <div class="meridiem-button-group">
                <button class="meridiem-button" type="button"
                        [ngClass]="{'meridiem-button-on': meridianValue === 'AM'}"
                        (click)="setMeridian('AM')">
                    AM
                </button>
                <button class="meridiem-button" type="button"
                        [ngClass]="{'meridiem-button-on': meridianValue === 'PM'}"
                        (click)="setMeridian('PM')">
                    PM
                </button>
            </div>
        </div>
    </div>
    <div class="owl-time-panel-sliders">
        <div class="owl-time-panel-slider">
            <app-slide-bar #hourPicker [min]="hourFloor" [max]="hourCeiling" [style]="{height: '90%'}"></app-slide-bar>
        </div>
        <div class="owl-time-panel-slider">
            <app-slide-bar #minPicker [min]="0" [max]="59" [style]="{height: '90%'}"></app-slide-bar>
        </div>
        <div class="owl-time-panel-slider" *ngIf="showSeconds">
            <app-slide-bar #secPicker [min]="0" [max]="59" [style]="{height: '90%'}"></app-slide-bar>
        </div>
    </div>

    <div class="control-btn" (click)="setTime()">
        <!-- <editor-fold desc='confirm svg'> -->
        <svg version="1.1" id="confirm-icon" class="owl-svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="100%" height="100%" viewBox="0 0 490.4 490.4" style="enable-background:new 0 0 490.4 490.4;" xml:space="preserve">
<g>
	<g>
		<path d="M245.2,490.4c135.2,0,245.2-110,245.2-245.2S380.4,0,245.2,0S0,110,0,245.2S110,490.4,245.2,490.4z M245.2,24.5
			c121.7,0,220.7,99,220.7,220.7s-99,220.7-220.7,220.7s-220.7-99-220.7-220.7S123.5,24.5,245.2,24.5z"/>
		<path d="M206.5,349.6c2.3,2.3,5.4,3.6,8.7,3.6l0,0c3.2,0,6.3-1.3,8.6-3.6l147.5-146.7c2.3-2.3,3.6-5.4,3.6-8.7
			c0-3.2-1.3-6.4-3.6-8.7l-44.6-44.8c-4.8-4.8-12.5-4.8-17.3-0.1l-94,93.5l-34.2-34.4c-2.3-2.3-5.4-3.6-8.7-3.6l0,0
			c-3.2,0-6.3,1.3-8.6,3.6l-44.8,44.6c-2.3,2.3-3.6,5.4-3.6,8.7c0,3.2,1.3,6.4,3.6,8.7L206.5,349.6z M172.5,225.7l34.3,34.5
			c4.8,4.8,12.5,4.8,17.3,0.1l94-93.5l27.3,27.4L215.3,323.6L145.1,253L172.5,225.7z"/>
	</g>
</g>
</svg>
        <!-- </editor-fold> -->
    </div>
</div>
